.buttonStyle {

    border: 0px;
    background-color: #6C63FF;
    border-radius: 5px;
}

.buttonStyle:hover {

    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.473) !important
}

.iconColor{
    color: #464646;
}

.iconColor:hover{
    color: #6C63FF;
}