<div class="grid grid-nogutter mt-3 lg:mt-8">
    <div class="col-10 col-offset-1 my-4">
        <div class="grid grid-nogutter">
            
            <div class="grid col-12 lg:col-6 text-3xl lg:text-6xl fadeinleft animation-duration-1000">
                <div class="m-0 p-0">
                    <p class="p-0 m-0">Hola,</p>
                    <p class="p-0 m-0">soy <span style="color:#6C63FF">Jefry</span></p>
                    <p class="p-0 m-0 text-xl lg:text-4xl">y soy</p>
                    <p class="p-0 m-0">desarrollador.</p>
                </div>                
            </div>

            <div class="grid grid-nogutter col-11 lg:col-6 fadeinright animation-duration-1000">
                <img class="max-w-full col-10 lg:col-12" src="https://raw.githubusercontent.com/JefryPardo/img/master/undraw_Freelancer_re_irh4.png">
            </div>

            <div class="col-1 lg:col-6 grid grid-nogutter text-3xl lg:text-6xl fadeindown animation-duration-1000">
                <a class="lg:px-3 PY-4" href=""><i class="fab fa-linkedin-in iconColor" ></i></a>
                <a class="lg:px-3 PY-4" href="https://codepen.io/jefrypardo"><i class="fab fa-codepen iconColor" ></i></a>
                <a class="lg:px-3 PY-4" href="https://github.com/JefryPardo/portafolio-JefryPardo"><i class="fab fa-github-square iconColor"></i></a>
            </div>

            <div class="grid col-12 lg:col-6 flex justify-content-center my-3 fadeindown animation-duration-1000">
                <button class="text-50 w-6 h-3rem shadow-6 buttonStyle">Contacto</button>
            </div>
        </div>
    </div>
</div>